<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Die beste Wurst Mannheims</h2>
                <hr class="light">
                <p class="text-faded">Wir beziehen unsere Produkte in hoher Qualität von rernomierten Produenten aus der Region</p>
                <a href="https://www.wiesenhof-bruzzzler.de/" class="btn btn-default btn-xl">Zu unseren Partnern</a>
            </div>
        </div>
    </div>
</section>
