<section class="bg-third" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <h2 class="subsection-heading">Über uns</h2>
                <p class="text-faded">P&S Gebrauchtwagen GmbH bietet zuverlässige Gebrauchtwagen zu erschwinglichen Preisen.</p>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <h2 class="subsection-heading">Kontakt</h2>  
                <p class="text-faded">Hauptstraße 1</p>
                <p class="text-faded">12345 Mannheim</p>
                <p class="text-faded">0621 123456</p>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <h2 class="subsection-heading">Öffnungszeiten</h2>  
                <p class="text-faded">Mo-Fr 10 - 18 Uhr</p>
                <p class="text-faded">Sa 10 - 16 Uhr</p>
            </div>
        </div>
    </div>
</section>
