<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <h2 class="section-heading">Über uns</h2>   
                <p class="text-faded">P&S Gebrauchtwagen GmbH bietet zuverlässige Gebrauchtwagen zu erschwinglichen Preisen.</p>
                <a href="https://www.wiesenhof-bruzzzler.de/" class="btn btn-default btn-xl">Zu unseren Fahrzeugen</a>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <h2 class="section-heading">Kontakt</h2>  
                <p class="text-faded">Hauptstraße 1</p>
                <p class="text-faded">12345 Mannheim</p>
                <p class="text-faded">0621 123456</p>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <h2 class="section-heading">Öffnungszeiten</h2>  
                <p class="text-faded">Mo-Fr 10 - 18 Uhr</p>
                <p class="text-faded">Sa 10 - 16 Uhr</p>
            </div>
        </div>
    </div>
</section>
