<section class="bg-primary" id="location">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hier können Sie uns finden</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="responsive_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d648.7443951300668!2d8.479939269688387!3d49.42823787046793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDnCsDI1JzQxLjciTiA4wrAyOCc1MC4xIkU!5e0!3m2!1sde!2sde!4v1717955806466!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>