<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div style="position: relative; height: 100%;">
            <iframe src="https://home.mobile.de/home/index.html?customerId=35608509&amp;partnerHead=false" 
            scrolling="no" seamless="seamless" style="position: absolute; height: 100%; border: none"
            frameborder="0" name="Fahrzeugangebot" allowtransparency="true" id="Fahrzeugangebot">Ihr Browser kann leider keine eingebetteten Frames anzeigen!</iframe>
        </div>
    </div>
</section>
