<section class="bg-primary" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Unser Service</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="wow bounceIn">
                        <h3>Ankauf von Fahrzeugen</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="wow bounceIn" data-wow-delay=".1s">
                        <h3>Finanzierung</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="wow bounceIn" data-wow-delay=".2s">
                        <h3>Fahrzeug Aufbereitung</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="wow bounceIn" data-wow-delay=".3s">
                        <h3>Fehleranalyse</h3>  
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="wow bounceIn" data-wow-delay=".4s">
                        <h3>Serviceleistungen</h3>
                    </div>  
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <div class="wow bounceIn" data-wow-delay=".5s">
                        <h3>Ersatzteile</h3>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
